# OS
.DS_Store
Thumbs.db
*.pem

# Dependencies
node_modules/


# Build outputs
dist/
mira-player-web/dist/

# Mobile
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android


# Environment
.env
.env.local
.env.*.local
tsconfig.tsbuildinfo
